Django==5.0.3
djangorestframework==3.15.1
drf-nested-routers==0.94.1
psycopg2-binary==2.9.9
redis==5.0.3
celery==5.3.6
openpyxl==3.1.2
reportlab==4.1.0
python-docx==1.1.0
pillow==10.2.0
python-dotenv==1.0.1
django-cors-headers==4.3.1
asgiref==3.7.2
sqlparse==0.4.4
tzdata==2024.1
